# Arquivos
chromedriver.exe
win32-phantomjs.exe
phantomjs.exe
Verifica Site.exe
desconectar_usuarios.exe
Thumbs.db
*.pdf
*.PDF
*.csv
*.xml
*.pyc
*.iml
*.pfx
*.xls
*.xlsx
*.txt
*.zip
*.rar
*.log
*.PNG
*.png
*.html
*.dll
*.md
*.json
*.rfb
*.RFB
*.db
*.iss

#Pastas
Ecac/
Caixa/
Domínio/Confirmar/confirmar.py
