# Arquivos
chromedriver.exe
win32-phantomjs.exe
phantomjs.exe
Verifica Site.exe
desconectar_usuarios.exe
Thumbs.db
pagina.png
captcha.png
elem.png
debug_screen.png
*.pdf
*.PDF
*.csv
*.xml
*.txt
*.pyc
*.iml
*.pfx
*.xls
*.xlsx
*.zip
*.rar
*.log
*.html
*.dll
*.md
*.json
*.rfb
*.RFB
*.db
*.iss
*.REC
*.iml
*.DEC

#Pastas
_dev_env/
Ecac/
Caixa/
Domínio/Confirmar/confirmar.py
Portal sn/Consulta Recibos e Extratos - Declarações SN/consulta_recibos_e_declaracoes_sn - 2.py
SIGISS/Donwload NFSEs do escritório/ignore/Manual do usuário.docx
.idea/
Crédito de PER DCOMP - ALPHA/
Dados Cadastrais SPED ECF/
E-Social/
Tipo de Apuração da Retenção - BETA/
Geral/gerar planilha Robos/
Geral/separador arquivos dp/
Geral/conferencia SEFIP/
Geral/verifica site online/
Geral/mouseNow/
Geral/leitor c100 c170/
SIGISS/emissao nota/
Divida Ativa/ICMS PGE/guias/
