# Arquivos
chromedriver.exe
win32-phantomjs.exe
phantomjs.exe
Verifica Site.exe
desconectar_usuarios.exe
Thumbs.db
*.pdf
*.PDF
*.csv
*.xml
*.pyc
*.iml
*.pfx
*.xls
*.xlsx
*.docx
*.txt
*.zip
*.rar
*.log
*.PNG
*.png
*.html
*.dll
*.md
*.json
*.rfb
*.RFB
*.db
*.iss
*.REC

#Pastas
_dev_env/
ignore/
Ecac/
Caixa/
Domínio/Confirmar/confirmar.py
Portal sn/Consulta Recibos e Extratos - Declarações SN/consulta_recibos_e_declaracoes_sn - 2.py
SIGISS/Donwload NFSEs do escritório/ignore/Manual do usuário.docx
ignore/
