@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

html, body{
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

*{
    font-family: Raleway, sans-serif;
    color: #000;
}

header{
    width: fit-content;
    padding: 0px 10px 10px 10px;
    border: 1px dashed;
}

header > h1, h2{
    margin:0;
    padding:0;
}

h2{
    padding-left: 10px;
    font-size:16px;
}

section{
    position: relative;
    display: block;
    
    height: fit-content;
    min-width: 937px;
    width: fit-content;

    margin-top: 14px;
    margin-left: 14px;
    border: 1px dashed;
}

table{
    margin: 10px;
    overflow: hidden;
}

th{
    padding-bottom: 8px;
}

td{
    padding: 14px 14px 14px 14px;
    text-align: center;
}

td:first-child{
    text-align: left;    
}

article{
    display:inline-block;
    margin-left: 6px;
    border-left: 1px dashed #000
}

article > h2{ margin-bottom: 4px; }

article > input, span{ margin-left: 8px }

button{
    height: 32px;
    width: fit-content;

    margin: 10px;
    border: 2px dashed;
    border-color: #000;
    outline: none;

    background: #e1e1e1;

    font-size: 16px;
    font-weight: bold;
    transition-property: color, background-color;
    animation-name: another-pulse;
    animation-duration: 1s;
}

button:hover{
    background-color: #2098D1;
    color: white;

    transition-duration: 0.2s;
}

button:active{
    animation-name: pulse;
    animation-duration: 1s;
}

input, label, button{ cursor:pointer; }

.main{
    height: 397px;
    width: 937px;
    overflow-y: auto;
}

.no-border{
    border: none;
    margin: 20px auto 20px 8px;
}

.desc{ width: 450px; }

.line{
    display: block;

    height: 1px;
    width: 300%;

    background-color: #000;
}

.f, .py{ display: none; }

.csv{ display: inline-block; } 


#id_caminho{
    position: absolute;
    display: inline-block;
    top: 0;
    bottom:0;

    height:28px;
    width: 740px;
    margin: auto;

    padding-top: 8px;

    overflow: hidden;
    text-overflow: ellipsis
}

#btn_gerar{
    position:absolute;
    right: 0;
}

@keyframes pulse{
    0% { box-shadow: 0 0 0 0 rgba(32, 152, 209, 1); }    
    80% { box-shadow: 0 0 0 10px rgba(32, 152, 209, 0); }    
    100% { box-shadow: 0 0 0 0 rgba(32, 152, 209, 0); }
}

@keyframes another-pulse{
    0% { box-shadow: 0 0 0 0 rgba(32, 152, 209, 1); }    
    80% { box-shadow: 0 0 0 10px rgba(32, 152, 209, 0); }    
    100% { box-shadow: 0 0 0 0 rgba(32, 152, 209, 0); }
}